body {
    background-color: #eeeee4;
    overflow-y: hidden;
}

.total {
    margin: 0 auto;
    width: 59rem;
}

h1 {
    text-align: center;
    margin: 2rem 15rem 3rem;
    font-size: 3rem;
    transition: all 400ms;
    font-family: 'Kanit', sans-serif;
    font-weight: bold;
    line-height: 50px;
}

.hoje {
    font-style: italic;
}

.principal {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    line-height: 2rem;
}

.plano-basico {
    padding: 1rem 1.5rem;
    width: 25rem;
    transition: all 1s ease-in-out;
}

.plano-basico:hover {
    transform: scale(1.05);
}

.plano-premium {
    padding: 1rem 1.5rem;
    width: 25rem;
    transition: all 1s ease-in-out;
}

.plano-premium:hover {
    transform: scale(1.05);
}

.plano-diamond {
    padding: 1rem 1.5rem;
    width: 25rem;
    transition: all 1s ease-in-out;
}

.plano-diamond:hover {
    transform: scale(1.05);
}

h2 {
    font-size: 3rem;
    padding: 15px;
    margin: 0 0 50px 0;
    background-color: black;
    color: white;
    line-height: 40px;
    font-family: 'Bebas Neue', cursive;
}

.plano-basico > ul li {
    font-family: 'Dosis', sans-serif;
    padding: 0 0 10px 0;
    font-size: 1.5rem;
}

.plano-basico > ul li::before {
    content: "• ";
}

.plano-premium > ul li {
    font-family: 'Dosis', sans-serif;
    padding: 0 0 10px 0;
    font-size: 1.5rem;
}

.plano-premium > ul li::before {
    content: "• "
}

.plano-diamond > ul li {
    font-family: 'Dosis', sans-serif;
    padding: 0 0 10px 0;
    font-size: 1.5rem;
}

.plano-diamond > ul li::before {
    content: "• "
}

img {
    width: 150px;
    display: block;
    margin: 1rem auto;
}